.first{
    background-color: rgb(253, 252, 252);
}
.navbar{
    background-color: rgb(253, 252, 252);
}
.card{
    background-color: rgb(253, 252, 252);
}
.face{
    position: relative;
    right:100px;
    margin: 30px;
}

.key{
    position: relative;
    left: 30px;
    border: none;
}
.key2{
    border: none;
}
.male{
    left: 0px;
    color: rgb(252, 250, 250);
}
.ipbody::before{
    background-color: rgb(252, 250, 250);
    display: block;
    content: "";
    height: 80px;
    
}
.lady{
    background-color: rgb(252, 250, 250);
}
.btn1{
    border: 2px solid rgb(172, 5, 5) !important;
     
}
.btn1 a{
    text-decoration: none; 
    color: white;
}

.btn1:hover{
    background-color: white;
    color: rgb(172, 5, 5);
    border: 2px solid rgb(172, 5, 5) !important;  
}
.curve{
    border-radius: 20px;
}
.curve6{
    border-radius: 40px;
}
.curve1{
    position: relative;
    left:100px;
}
.team{
    border: 2px solid white;
    
}
.started{
    position:relative;
    right: 170px;
}
.main{
    position: relative;
    left: 420px;
    top: 60px;
}
.mainsbtn{
    position: relative;
    left: 80px;
}
.dot{
    position:relative;
    right:60px;
}
.section6{
    background-color: rgb(252, 246, 246)
}
.team1{
    position: relative;
    right: 30px;
}
.wire7{
    position:relative;
    right: 90px; 
}
.star1{
    position: relative;
    left: 100px;
    margin-top: 70px;
}
.shadow1{
    box-shadow: 5px 5px 5px 5px pink;
}
.triangle{
    position: relative;
    right: 100px;
}
.policy{
    margin-right: 10px;
}